[Unit]
Description=Generate Mock app

[Service]
WorkingDirectory=/root/GenerateMock.WebApi.Builded/src/backend/GenerateMock.WebApi/bin/Release/netcoreapp3.1
ExecStart=/usr/bin/dotnet /root/GenerateMock.WebApi.Builded/src/backend/GenerateMock.WebApi/bin/Release/netcoreapp3.1/GenerateMock.WebApi.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=GenerateMock
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target